/* Header */
.color-line {
    span {
        width: 14.285714286%;
        height: 10px;
        display: block;
        float: left;
    }

    .color-1 {
        background-color: #E79738;
    }

    .color-2 {
        background: #E46349;
    }

    .color-3 {
        background: #D13357;
    }

    .color-4 {
        background: #962D5B;
    }

    .color-5 {
        background: #4A4F7E;
    }

    .color-6 {
        background: #5984A1;
    }

    .color-7 {
        background: #3AA296;
    }
}

header {}