/* Index */
.most-popular, .latest {
    background-color: #D6DADD;
}

.attentive {
	padding: 10px 0;
    text-align: center;

    h1 {
        text-align: left;
    }
    .brown{
    	margin: 40px 0 20px;
    }
}