/* Profile */
.profile {
    .content {
        width: auto;
        overflow: hidden;
        padding: 0 10px 10px;
    }

    .profile-menu {
        margin: 10px 0 30px;

        .active {
            background-color: #A6855B;
            color: #2E363C;
        }

        a {
            color: #2E363C;
            padding: 9px 18px;
            font-size: 14px;

            &:hover {
                background: #2E363C;
                color: #F4F6F6;
            }
        }

        li {
            display: inline-block;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .container-full {
        max-width: 1140px;
    }

    .sidebar {
        width: 33%;
        float: left;
        max-width: 300px;
        padding: 0 10px 10px;
    }

    .profile-picture {
        width: 64px;
        border-radius: 32px;
        border: 1px solid #D6DADD;
        overflow: hidden;
        float: left;
        margin-right: 10px;
    }

    .profile-details {
        width: auto;
        overflow: hidden;
    }

    .profile-name {
        font-size: 18px;
        padding: 10px 0 5px;
    }

    .profile-role {
        font-size: 14px;
    }
}

/* Profile author */
.profile-author {
    .content {
        span {
            font-family: 'Georgia', serif;
            padding-bottom: 8px;
        }

        p {
            padding: 10px 0 20px;
        }
    }

    .content-head {
        position: relative;
        padding: 5px 0 20px;

        a {
            position: absolute;
            right: 0;
            top: 5px;
        }
    }

    .data-item {
        width: 50%;
        float: left;
        margin-bottom: 15px;
    }

    .profile-data {
        margin: 10px 0 30px;
    }

    .address-item {
        margin-bottom: 15px;
    }

    .mailing-address, .billing-address {
        width: 50%;
        float: left;

        h2 {
            padding-bottom: 20px;
        }
    }

    .profile-data-edit {
        position: relative;
        margin: 20px auto;
        display: none;
        box-shadow: none;
        border: 1px solid #ccc;

        .form-data {
            padding: 10px;
            float: left;
            width: 50%;
        }

        form {
            padding-top: 15px;

            label {
                font-family: 'Georgia', serif;
                padding-bottom: 5px;
                display: block;
            }
        }
    }

    [type="submit"] {
        margin: 10px auto;

        &:hover {
            background: #A6855B;
            color: #fff;
        }
    }

    .close {
        top: 20px;
        right: 20px;
    }

    .pop-box-head {
        margin-bottom: 20px;
    }

    .profile-picture-edit {
        padding: 20px 0;
    }

    .active-photo {
        width: 150px;
        border-radius: 50%;
        border: 1px solid #D6DADD;
        overflow: hidden;
        float: left;
        margin-right: 20px;
    }

    .photo-edit {
        width: auto;
        overflow: hidden;
        margin-top: 60px;
    }

    .introduction-edit {
        textarea {
            border-radius: 4px;
            font-size: 16px;
            border: 1px solid #D6DADD;
            width: 95%;
            height: 200px;
            line-height: 1.5em;
            padding: 13px;
            resize: none;
        }

        position: relative;
        margin: 20px auto;
        display: none;
        box-shadow: none;
        border: 1px solid #ccc;

        form {
            padding-top: 15px;

            label {
                font-family: 'Georgia', serif;
                padding-bottom: 5px;
                display: block;
            }

            [type="submit"] {
                margin: 10px auto;
            }
        }
    }

    .contact-edit {
        display: none;
        position: relative;
        margin: 20px auto;
        box-shadow: none;
        border: 1px solid #ccc;

        label {
            font-family: 'Georgia', serif;
            display: block;
            padding-bottom: 5px;
        }

        .form-data {
            padding: 10px;
            width: 50%;
        }
    }
}

/* Profile muveim */
.profile-mu {
    .category-color {
        width: 16px;
        height: 16px;
        display: block;
        float: left;
        margin-right: 6px;
        border-radius: 50%;

        &.novel {
            background-color: #E79738;
        }

        &.tale {
            background-color: #E46349;
        }

        &.poem {
            background-color: #D13357;
        }

        &.play {
            background-color: #962D5B;
        }

        &.science {
            background-color: #4A4F7E;
        }
    }

    .item-cover {
        width: 50px;
        margin-bottom: 10px;
        box-shadow: 0 2px 10px #0F1214;
        position: relative;
        top: 0;

        @include transition-all;

        &:hover {
            top: 2px;
            box-shadow: 0 2px 10px #0F1214;
        }
    }

    table {
        width: 100%;
        margin-top: 20px;
        font-family: 'Georgia', serif;

        tr {
            border-bottom: 1px solid #D6DADD;

            @include transition-all;

            &:nth-child(2n+2) {
                background: #D6DADD;
            }

            &:hover {
                background: #fff;
            }
        }

        td {
            padding: 10px;
        }

        th {
            padding: 10px;
            font-weight: 900;
            text-align: left;
        }
    }

    .button {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-position: center !important;
        background-size: 20px auto !important;
        @include transition-all;
        &:hover{
            background-color: #2E363C;
        }
    }
    .edit{
        background: url('../images/profile/edit.svg') no-repeat #D6DADD;        
    }
    .read{
        background: url('../images/profile/read.svg') no-repeat #A6855B;
    }
    .delete{
        background: url('../images/profile/delete.svg') no-repeat #FF3333;
    }

    .muveim {
        margin: 10px 0 40px;
    }
}